@charset "UTF-8";
html {
  font-size: 100%;
}
body {
  color: #333;
  font-size: 0.875rem;
  min-height: 100vh;
  position: relative;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
p {
  font-size: 0.78rem;
}
a {
  color: #333;
  text-decoration: none;
}
.l-sectionArea {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
}

/*ヘッダー*/
#l-header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
} 
.l-header__logo {
  width: 180px;
}
/*ハンバーガーメニュー*/
.l-header__nav {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  color: #fff;
  padding: 36px 50px;
  transition: all 0.5s;
  z-index: 20;
  opacity: 0;/*完全透明*/
}
/*閉じてる*/
.l-header__hamburgerMenu {
  width: 30px;
  height: 30px;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 20;
}
.l-header__hamburgerMenuSpan {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #333;
  border-radius: 4px;
  transition: all 0.5s;
}
/*上の線*/
.l-header__hamburgerMenuSpan:nth-child(1) {
  top: 10px;
}
/*下の線*/
.l-header__hamburgerMenuSpan:nth-child(2) {
  bottom: 10px;
}
.mask {
  display: none;
  transition: all 0.5s;
}
/*メイン*/
/*プロダクトページのメイン縦幅*/
#main {
  padding-top: 120px;
  padding-bottom: 160px;
}

/*ｈ2タイトル*/
.p-shop__title {
  margin-bottom: 30px;
}

/*ｸﾞﾘｯﾄﾞ*/
.p-shop__itemBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
  margin-bottom: 30px;
}
.p-shop__img {
  margin-bottom: 10px;
}
.p-shop__img {
  margin-bottom: 10px;
}
.p-shop__item {
  font-size: 0.75rem;
  margin-bottom: 5px;
}
/*ページ番号*/
.c-pageNoBox {
  display: flex;
  justify-content: center;
}
.c-pageNo {
  padding-left: 40px;
}
/*フッター*/
.l-footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}
.l-footer__navList {
  
  display: flex;
}
.l-footer__navItem {
  width: 100px;
  font-size: 0.75rem;
  padding-right: 30px;
}
.l-footer__copy {
  font-size: 0.625rem;
}